body {
    font-family: Tahoma, Futura Medium, Arial, Helvetica;
    margin-left: 0.3cm;
    margin-rignt: 0.3cm;
}

H1, H2, H3, H4, H5, H6 {
    font-size: 18;
    font-weight: bold;
    color: green;
}

p {
    font-size: 14;
}

table {
    font-size: 14;
    background-color: #DDFFCC;
    color: #666666;
    border-collapse: collapse;
}

tr {
    vertical-align: top;
}

td p div.mediaobject {
    text-align: left;
}

em {
    font-weight: plain;
    color: green;
}

b {
    color: green;
}

p.title {
    color: green;
}

p a:link, p a:visited, p a:hover, p a:active {
    color: #0000BB;
    font-style: italic;
    font-weight: normal;
}

.author {
    font-size: 14;
    color: #0000EE;
}

.mediaobject, .caption {
    text-align: center;
}

.toc {
    font-size: 14;
}

a, a:link, a:visited, a:hover, a:active {
    color: #0000EE;
    font-weight: bold;
    font-style: bold;
    text-decoration: none;
}
